<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>DIGI Library</h1>
    <div class="content-container"> 
      <ul>
        <% books.forEach((book) => { %>
        <li>
          <%= book.name %>. Written by <%= book.author %>. Added by <%= book.owner.username %>.
          <a href="/books/<%= book._id %>">About this Book </a>
        </li>
        <% }) %>
      </ul>
    </div>

    <h1>Add a New Book</h1>
    <div class="content-container">
      <form action="/books/search" method="GET">
        <label for="search"> <strong>Search by Title: </strong></label>
        <input  type="text" id="search" name="search" required>
        <button type="submit" class="submitbtn">Search</button>
      </form>

      <div>
        <span>No Results?</span>
        <a href="/books/new">Let's Add It Manually</a>
      </div>
    </div>
    


    <%- include('../partials/messages.ejs') %>
    <%- include('../partials/footer') %>
  </body>
</html>


