<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>All Books</h1>
    <a href="/books/new">Add a New Book</a>
    <ul>
      <% books.forEach((book) => { %>
      <li>
        <a href="/books/<%= book._id %>">
        <%= book.name %>. Written by <%= book.author %>. Added by <%= book.owner.username %>.
      </li>
      <% }) %>
    </ul>

    <%- include('../partials/messages.ejs') %>
    
    <%- include('../partials/footer') %>
  </body>
</html>


