<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>DIGI Library</h1>
    <ul>
      <% books.forEach((book) => { %>
      <li>
        <%= book.name %>. Written by <%= book.author %>. Added by <%= book.owner.username %>.
        <a href="/books/<%= book._id %>">About this Book </a>
      </li>
      <% }) %>
    </ul>

    <h1>Add a New Book</h1>

    <a href="/books/new">Add a New Book</a>

    <form action="/books/search" method="GET">
      <label for="search"> Search by Title: </label>
      <input  type="text" id="search" name="search" required>
      <button type="submit">Search</button>
    </form>

    <%- include('../partials/messages.ejs') %>
    <%- include('../partials/footer') %>
  </body>
</html>


