<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= book.name %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="head">
      <h1>A CLOSER LOOK</h1>
      <h2><%= book.name %> by <%= book.author%></h2>
    </div>
    <div class="information-container"> 
      <div class="book-text">
      
        <p><strong>Genre:</strong> <%= book.genre %></p>
        <p> <strong>No. of pages: </strong><%= book.pages %></p>
        <p><strong>Briefing: </strong> <%= book.description %></p>
        <p><strong>Owner: </strong> <%= book.owner.username %></p>
     
        <!-- Edit and delete if owner -->
        <% if (book.owner._id.equals(user._id)) { %>
        <a href="/books/<%= book._id %>/edit" class="btn"> Edit this Entry </a>
        <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
          <button type="submit" class="deletebtn">Delete this Book</button>
        </form>
        <% } %>

    <!--  Managing Favorites-->
        <% if (userHasFavorited) { %>
        <p><strong>This is one of you favorite books!</strong></p>
        <form
            action="/books/<%= book._id %>/favorited-by/<%= user._id %>?_method=DELETE" method="POST">
            <button type="submit" class="deletebtn">Unfavorite it</button>
        </form>
        <% } else { %>
        <p><strong>Do you want to add this book to your favorites?.</strong></p>

        <form
            action="/books/<%= book._id %>/favorited-by/<%= user._id %>"method="POST">
            <button type="submit" class="submitbtn">Add to My Favorites</button>
        </form>

        <% } %>

    <!--  Add to Shelf-->
        <% if (userHasPulled) { %>
        <p><strong>You have this book in your shelf!</strong></p>
        <form
            action="/books/<%= book._id %>/pulled-by/<%= user._id %>?_method=DELETE" method="POST">
            <button type="submit" class="deletebtn">Remove from Shelf</button>
        </form>
        <% } else { %>
        <p><strong>Do you want to add this book to your shelf?</strong></p>

        <form
            action="/books/<%= book._id %>/pulled-by/<%= user._id %>"method="POST">
            <button type="submit" class="submitbtn">Add to My Shelf</button>
        </form>

        <% } %>
    </div>

    <div class="book-image">
      <img class="book-cover" src="<%= book.coverURL %>" alt="Cover for <%= book.name %>">
    </div>
  </div>  
  <%- include('../partials/footer') %>
  </body>
</html>


