<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Clubs</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Book Club Lounge</h1>
    <a href="/bookclubs/new">Start a New Book Club</a>
    <ul>
      <% bookClubs.forEach((club) => { %>
      <li>
        <a href="/bookclubs/<%= club._id %>"> Explore Club. </a>
        <%= club.name %>. Hosted by  <%= club.owner.username %>.
      </li>
      <% }) %>
    </ul>

    <%- include('../partials/messages.ejs') %>

  </body>
</html>

