<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= bookClub.name %></title>
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= bookClub.name %></h1>
    <h2>Details</h2>
    <div class="content-container">
      <div>
        <p>Frequency of Meetings: <%= bookClub.frequency %></p>
        <% if (bookClub.owner._id.equals(user._id)) { %>
          <form action="/bookclubs/<%= bookClub._id %>?_method=PUT" method="POST">
            <label for="frequency"> Edit Frequency: </label>
            <input list="frequencies" id="genre" name="frequency" placeholder="Select or type a frequency" value="<%= bookClub.frequency %>" required >
                <datalist id="frequencies">
                  <option value="Weekly">
                  <option value="Bi-Weekly">
                  <option value="Monthly">
              </datalist>
            <button type="submit" class="submitbtn">Update the Frequency</button>
          </form>
        <% } %>
        <p>Administrator: <%= bookClub.owner.username%></p>
        <p><%= bookClub.members.length === 0 ? 'Ready to be the First Guest Member?':bookClub.members.length === 1? 'Member:': 'Members:' %></p>
            <ul>
                <% bookClub.members.forEach((member) => { %>
                <li>
                    <%= member.username %> 
                </li>
                <% }) %>
            </ul>

        <h2><%= bookClub.shelf.length === 0 ? 'No Books Added Yet': bookClub.shelf.length === 1? 'Book:': 'Books:' %></h2>
          <% if (bookClub.owner._id.equals(user._id)) { %>
          <div>
              <form action="/bookclubs/<%= bookClub._id %>" method="POST">
                <label for="bookId"><h4>Add a book to this club </h4></label>
                <div class="same-line">
                  <select id="bookId" name="bookId" class="select-box" required>
                    <option value="" disabled selected>Select a book</option>
                    <% books.forEach(book => { %>
                    <option value="<%= book._id %>"><%= book.name %></option>
                    <% }) %>
                  </select>
                  <button type="submit" class="submitbtn">Add book</button>
                </div>
              </form>
          </div>
          <ul>
              <% bookClub.shelf.forEach((book) => { %>
                <li>
                  <div class="book-item">
                    <span>
                    <%= book.name %>  by <%=book.author %>.
                    <a href="/books/<%= book._id %>">See Details.</a>
                    </span>
                    <% if (bookClub.owner._id.equals(user._id)) { %>
                          <form action="/bookclubs/<%= bookClub._id %>/<%= book._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="deletebtn">Remove this Book</button>
                           </form>
                    <% } %>
                  </div>
                </li>
              <% }) %>
          </ul>

        <% } else{%>
        <p>Do you want to propose a new book? Contact <%= bookClub.owner.username%></p>
        <% } %>
      </div>

   <!-- Edit and delete if owner -->
     <% if (bookClub.owner._id.equals(user._id)) { %>
      <form action="/bookclubs/<%= bookClub._id %>?_method=DELETE" method="POST">
        <button type="submit" class="deletebtn">Delete this Club</button>
      </form>
    <% } %>
    <%if (userHasJoined){%>
        <p> You are part of this Club!</p>
        <form action="/bookclubs/<%= bookClub._id %>/joined-by/<%= user._id %>?_method=DELETE" method="POST">
            <button type="submit" class="deletebtn">Leave the Club</button>
        </form>
     <% } else { %>
        <p> Join today!</p>
        <form action="/bookclubs/<%= bookClub._id %>/joined-by/<%= user._id %>" method="POST">
            <button type="submit" class="submitbtn">Join this Club</button>
        </form>
    <% } %>

    <%- include('../partials/footer') %>
  </div>  
  </body>
</html>


