<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= recipe.name %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= recipe.name %> </h1>
    <h2>Details</h2>
    <p>Instructions: <%= recipe.instructions %></p>
    <p>Owner: <%= recipe.owner.username %></p>

    <p>Ingredients:</p>
      <ul>
      <% recipe.ingredients.forEach((ingredient)=>{ %>
        <li>
          <%= ingredient.name %>
        </li>
      <% }) %>
      </ul>
    
    <!-- EDIT -->
    <a href="/recipes/<%= recipe._id %>/edit"> Edit this Recipe </a>
    
    <!-- DELETE -->
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this recipe</button>
    </form>
  </body>
</html>


